.wy-nav-content {
   max-width: 850px
}

/* see also のアイコンを変更 */
div.seealso > .admonition-title:before {
    content: "\f02d";
    font-family: "FontAwesome";
    font-weight: 900;
    margin-right: 0.5em;
}